html {
    font-family: 'Roboto', sans-serif;
    background-color: #E7D7C1;
}

body {
    padding: 1rem;
}

.page-title {
    text-align: center;
    color: #735751;
}

#brews-list {
    list-style: none;
}

#brews-list li {
    margin-bottom: 20px;
}

#brews-list li:last-child {
    margin-bottom: 0;
}

.brew-card {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #735751;
    min-width: min-content;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}

.brew-card form {
    width: 100%;
}

.brew-card-field {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0.25rem 0;
    min-width: min-content;
}

.brew-card-field label {
    margin-right: auto;
    white-space: nowrap;
}