html {
    font-family: 'Roboto', sans-serif;
    background-color: #E7D7C1;
}

body {
    padding: 1rem;
}

.page-title {
    text-align: center;
    color: #735751;
}

.content-card {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #735751;
    color: white;
    list-style: none;
}

.content-card-form {
    width: 100%;
}

.content-card-form-field {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0.25rem 0;
    min-width: min-content;
}

.content-card-form-field label {
    margin-right: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.content-card-form input:disabled, .content-card-form select:disabled, .content-card-form textarea:disabled {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    opacity: 1;
}

.content-card button {
    width: 100%;
    margin-top: 1rem;
    background-color: #E7D7C1;
    color: #735751;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.content-card button:hover {
    opacity: 0.8;
}


.content-card-list {
    list-style: none;
}

.content-card-list li {
    margin-bottom: 20px;
}

.content-card-list li:last-child {
    margin-bottom: 0;
}

.content-card-wide-textarea {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
}

.brew-card {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    max-width: 500px;
    margin: 0 auto;
}

.dangerous {
    background-color: #D9534F !important;
    color: white !important;
}

.content-card textarea.full-width {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
}

.hidden {
    display: none;
}

#menu-wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 90%;
    z-index: 1;
}

#menu-options {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 2;
}

#menu-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-options li {
    margin: 1rem;
}

#menu-options a {
    text-decoration: none;
    color: #735751;
    font-weight: bold;
}

#menu-options img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#menu-options img.active {
    opacity: 0.5;
}

#menu-options img.close-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-panel {
    position: absolute;
    background-color: #a78a7f;
    right: -500px;
    width: 500px;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    transition: right 0.3s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.menu-panel-header {
    width: 418px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-panel-content {
    width: 418px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.menu-panel-content::-webkit-scrollbar {
    display: none;
}

.methods-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.methods-container input[type="radio"] {
    display: none;
}

.method-label {
    display: inline-block;
    cursor: pointer;
    margin: 0.5rem;
    transition: transform 0.2s ease;
}

.method-label:hover {
    transform: scale(1.1);
}

input[type="radio"]:disabled + label:hover {
    transform: none;
    cursor: default;
}

.method-image {
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.2s ease;
    padding: 0.5rem;
}

input[name="method"]:checked + .method-label .method-image {
    border-color: #a78a7f;
    background-color: #E7D7C1;
}

.tasting-notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.tasting-notes-list {
    flex-basis: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    height: 100px;
}

.tasting-note {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    border: 1px dashed white;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.tasting-note.hidden, .tasting-notes-search.hidden {
    display: none;
}

.tasting-note:hover:not(.disabled) {
    transform: scale(1.1);
    background-color: #d4c0b0;
    cursor: pointer;
}

.tasting-note.selected {
    background-color: #a78a7f;
}

.rating-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.rating-container input[type="radio"] {
    display: none;
}

.rating-container label {
    display: inline-block;
    cursor: pointer;
    margin: 0.25rem;
    transition: transform 0.2s ease;
    border-radius: 50%;
    background-color: #a78a7f;
    color: black;
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.rating-container label:hover {
    transform: scale(1.1);
}

.rating-container input[type="radio"]:checked + label{
    background-color: #E7D7C1;
}